#Footer {
  width: 100vw;
  background-color: $white;

  .FooterTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    .FooterTopWrapper {
      display: flex;
      flex-flow: column nowrap;
      text-align: end;
      gap: 1rem;
    }
  }

  .FooterLine {
    border: $blue;
    height: 0.1rem;
    background: $lightblue;
    margin-inline: 3.5rem;
    border-radius: 1rem;
  }

  .FooterBottom {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }
}
