#Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  cursor: $pointer, pointer;

  .LogoImage {
    width: 5rem;
    height: 5rem;
  }

  .LogoWrapper {
    display: none;
  }
}
