.MenuLinksWrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 70%;
  justify-content: space-evenly;

  @include responsive(md) {
    flex-flow: row nowrap;
  }

  .MenuLink {
    text-decoration: none;
    color: $grey;
    font-size: 2.2rem;
    font-weight: 600;
    padding-right: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    cursor: $pointer, pointer;
  }

  .MenuCircle {
    content: '';
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 100%;
    background-color: $blue;
    opacity: 0.5;
    animation: pulse 12s infinite;

    @include responsive(md) {
      display: none;
    }
  }

  .MenuLinkContact {
    color: $blue;
  }
}
