#MenuMobile {
  .MobileNav {
    position: fixed;
    top: 10vh;
    right: 0;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.3s linear;
    text-align: end;
    height: 91dvh;
    width: 70vw;
    background-color: $white;
    z-index: 999999;

    .MobileNavSocials {
      display: flex;
      flex-flow: column nowrap;
      gap: 1.3rem;
      padding: 2.5rem;
    }
  }

  .MobileNav.open {
    display: flex;
    animation: slideIn 0.4s forwards;
  }

  .MobileNav.close {
    display: flex;
    animation: slideOut 0.4s forwards;
  }
}

#MenuMobile.open {
  &::after {
    content: '';
    position: fixed;
    top: 10vh;
    right: 0;
    z-index: 999;
    width: 100vw;
    height: 90dvh;
    background-color: #7bb9fc3c;
    animation: slideIn 0.45s forwards;
  }
}
