@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
/* Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: #7bb9fc;
  color: #2D3338;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
  overflow-x: hidden;
  cursor: url("/cursor.png"), pointer;
}

@keyframes bubbleOn {
  0% {
    border-radius: 50%;
  }
  20% {
    border-radius: 51% 49% 51% 49%/72% 73% 27% 28%;
  }
  40% {
    border-radius: 29% 71% 68% 32%/72% 48% 52% 28%;
  }
  60% {
    border-radius: 31% 69% 33% 67%/57% 52% 48% 43%;
  }
  80% {
    border-radius: 51% 49% 51% 49%/72% 73% 27% 28%;
  }
  100% {
    border-radius: 50%;
  }
}
@keyframes bubbleOff {
  from {
    border-radius: var(--current-radius);
  }
  to {
    border-radius: 50%;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
#Landing {
  height: 300rem;
  background-color: #bbbbbb;
}

#Contact {
  height: 300rem;
  background-color: #bbbbbb;
}

#Radio {
  height: 300rem;
  background-color: #bbbbbb;
}

#TopScroll {
  width: 0%;
  height: 0.4rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4382C3;
  z-index: 9999999;
}

#Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
#Logo .LogoImage {
  width: 5rem;
  height: 5rem;
}
#Logo .LogoWrapper {
  display: none;
}

.SocialLink {
  text-decoration: none;
  color: #4382C3;
  font-weight: bolder;
  font-size: 1.6rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.2rem;
}
.SocialLink::after {
  content: " →";
  font-weight: bold;
  font-size: 2rem;
}

.MenuButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #4382C3;
  border-radius: 50%;
  position: relative;
}
.MenuButton .MenuLine {
  background: #ffffff;
  height: 0.2rem;
  border-radius: 0.5rem;
  transition: all 0.2s linear;
  transform-origin: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.MenuButton .FirstLine {
  width: 40%;
  top: calc(50% - 0.8rem);
}
.MenuButton .FirstLine.open {
  transform: translateX(-50%) rotate(-45deg);
  top: 50%;
}
.MenuButton .SecondLine {
  width: 50%;
  top: 50%;
  opacity: 1;
}
.MenuButton .SecondLine.open {
  opacity: 0;
}
.MenuButton .ThirdLine {
  width: 30%;
  top: calc(50% + 0.8rem);
}
.MenuButton .ThirdLine.open {
  transform: translateX(-50%) rotate(45deg);
  top: 50%;
  width: 40%;
}

.MenuButton.open {
  animation: bubbleOn 8s ease-in-out infinite;
  transition: 0.2s linear 0s;
}

.MenuButton.close {
  animation: bubbleOff 0.8s linear;
  transition: 0.2s linear 0s;
}

.MenuLinksWrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 70%;
  justify-content: space-evenly;
  gap: 1rem;
}
.MenuLinksWrapper .MenuLink {
  text-decoration: none;
  color: #2D3338;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  padding-right: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.MenuLinksWrapper .MenuCircle {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  background-color: #4382C3;
  opacity: 0.5;
  animation: pulse 12s infinite;
}
.MenuLinksWrapper .MenuLinkContact {
  color: #4382C3;
}

#MenuMobile .MobileNav {
  position: fixed;
  top: 10vh;
  right: 0;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 0.3s linear;
  text-align: end;
  height: 91dvh;
  width: 80vw;
  background-color: #ffffff;
  z-index: 999999;
}
#MenuMobile .MobileNav .MobileNavSocials {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.3rem;
  padding: 2.5rem;
}
#MenuMobile .MobileNav.open {
  display: flex;
  animation: slideIn 0.4s forwards;
}
#MenuMobile .MobileNav.close {
  display: flex;
  animation: slideOut 0.4s forwards;
}

#MenuMobile.open::after {
  content: "";
  position: fixed;
  top: 10vh;
  right: 0;
  z-index: 999;
  width: 100vw;
  height: 90dvh;
  background-color: rgba(123, 185, 252, 0.2352941176);
  animation: slideIn 0.45s forwards;
}

#Header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.PersonLink {
  text-decoration: none;
  color: #4382C3;
}
.PersonLink .PersonLinkText {
  font-size: 1.3rem;
}

#Footer {
  width: 100vw;
  background-color: #ffffff;
}
#Footer .FooterTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
#Footer .FooterTop .FooterTopWrapper {
  display: flex;
  flex-flow: column nowrap;
  text-align: end;
  gap: 1rem;
}
#Footer .FooterLine {
  border: #4382C3;
  height: 0.1rem;
  background: #7bb9fc;
  margin-inline: 3.5rem;
  border-radius: 1rem;
}
#Footer .FooterBottom {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
