@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
/* Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: #7bb9fc;
  color: #000000;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
  overflow-x: hidden;
  cursor: url("/cursor.png"), pointer;
}

@keyframes bubbleOn {
  0% {
    border-radius: 50%;
  }
  20% {
    border-radius: 51% 49% 51% 49%/72% 73% 27% 28%;
  }
  40% {
    border-radius: 29% 71% 68% 32%/72% 48% 52% 28%;
  }
  60% {
    border-radius: 31% 69% 33% 67%/57% 52% 48% 43%;
  }
  80% {
    border-radius: 51% 49% 51% 49%/72% 73% 27% 28%;
  }
  100% {
    border-radius: 50%;
  }
}
@keyframes bubbleOff {
  from {
    border-radius: var(--current-radius);
  }
  to {
    border-radius: 50%;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
#TopScroll {
  width: 0%;
  height: 0.4rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4382C3;
  z-index: 9999999;
}

#Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("/pointer.png"), pointer;
  text-decoration: none;
}
#Logo .LogoImage {
  width: 5rem;
  height: 5rem;
}
@media screen and (min-width: 715px) {
  #Logo .LogoImage {
    width: 6rem;
    height: 6rem;
  }
}
#Logo .LogoWrapper {
  display: none;
}
@media screen and (min-width: 715px) {
  #Logo .LogoWrapper {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    gap: 0.2rem;
  }
  #Logo .LogoWrapper .LogoText {
    white-space: nowrap;
    font-size: 1.8rem;
    color: #000000;
  }
}

#SocialLink {
  text-decoration: none;
  color: #4382C3;
  font-weight: bolder;
  font-size: 1.6rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.2rem;
  padding-right: 0.5rem;
  cursor: url("/pointer.png"), pointer;
}
@media screen and (min-width: 715px) {
  #SocialLink {
    position: relative;
    overflow: hidden;
    font-size: 1.8rem;
    gap: 0.6rem;
  }
}
#SocialLink::after {
  content: " →";
  font-weight: bold;
  font-size: 2rem;
}
@media screen and (min-width: 715px) {
  #SocialLink::after {
    font-size: 2rem;
    transform: rotate(-20deg);
  }
}
@media screen and (min-width: 715px) {
  #SocialLink:hover::after {
    transform: rotate(0deg);
    transition: linear all 0.1s;
  }
}

#MenuButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #4382C3;
  border-radius: 50%;
  position: relative;
}
#MenuButton .MenuLine {
  background: #ffffff;
  height: 0.2rem;
  border-radius: 0.5rem;
  transition: all 0.25s linear;
  transform-origin: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#MenuButton .FirstLine {
  width: 40%;
  top: calc(50% - 0.8rem);
}
#MenuButton .FirstLine.open {
  transform: translateX(-50%) rotate(-45deg);
  top: 50%;
}
#MenuButton .SecondLine {
  width: 50%;
  top: 50%;
  opacity: 1;
}
#MenuButton .SecondLine.open {
  opacity: 0;
}
#MenuButton .ThirdLine {
  width: 30%;
  top: calc(50% + 0.8rem);
}
#MenuButton .ThirdLine.open {
  transform: translateX(-50%) rotate(45deg);
  top: 50%;
  width: 40%;
}

.MenuButton.open {
  animation: bubbleOn 8s ease-in-out infinite;
  transition: 0.2s linear 0s;
}

.MenuButton.close {
  animation: bubbleOff 0.8s linear;
  transition: 0.2s linear 0s;
}

#MenuLinks {
  display: flex;
  flex-flow: column nowrap;
  height: 70%;
  justify-content: space-evenly;
}
@media screen and (min-width: 715px) {
  #MenuLinks {
    flex-flow: row nowrap;
    display: flex;
    align-items: center;
    gap: 5rem;
  }
}
#MenuLinks .MenuLink {
  text-decoration: none;
  color: #2D3338;
  font-size: 2.2rem;
  font-weight: 600;
  padding-right: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  cursor: url("/pointer.png"), pointer;
}
@media screen and (min-width: 715px) {
  #MenuLinks .MenuLink {
    font-size: 1.6rem;
    padding-right: 0rem;
    position: relative;
  }
  #MenuLinks .MenuLink::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: #4382C3;
    transition: width 0.35s ease-in-out;
  }
  #MenuLinks .MenuLink:hover::after {
    width: 100%;
  }
}
#MenuLinks .MenuLink .MenuCircle {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  background-color: #4382C3;
  opacity: 0.5;
  animation: pulse 12s infinite;
}
@media screen and (min-width: 715px) {
  #MenuLinks .MenuLink .MenuCircle {
    display: none;
  }
}
#MenuLinks .MenuLinkContact {
  color: #4382C3;
  font-size: 2.2rem;
}
@media screen and (min-width: 715px) {
  #MenuLinks .MenuLinkContact {
    position: relative;
    color: #ffffff;
    background-color: #4382C3;
    border-radius: 2rem;
    height: 3.5rem;
    width: 10rem;
    font-size: 1.7rem;
    font-weight: 600;
    transition: all 0.5s ease;
  }
  #MenuLinks .MenuLinkContact::after {
    display: none;
  }
  #MenuLinks .MenuLinkContact:hover {
    background-color: #34689d;
  }
  #MenuLinks .MenuLinkContact p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#MenuMobile .MobileNav {
  position: fixed;
  top: 10vh;
  right: 0;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 0.3s linear;
  text-align: end;
  height: 91dvh;
  width: 75vw;
  background-color: #ffffff;
  z-index: 999999;
}
#MenuMobile .MobileNav .MobileNavSocials {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.3rem;
  padding: 2.5rem;
}
#MenuMobile .MobileNav.open {
  display: flex;
  animation: slideIn 0.4s forwards;
}
#MenuMobile .MobileNav.close {
  display: flex;
  animation: slideOut 0.4s forwards;
}

#MenuMobile.open::after {
  content: "";
  position: fixed;
  top: 10vh;
  right: 0;
  z-index: 999;
  width: 100vw;
  height: 90dvh;
  background-color: rgba(123, 185, 252, 0.2352941176);
  animation: slideIn 0.45s forwards;
}

#MenuMobile.close::after {
  content: "";
  position: fixed;
  top: 10vh;
  right: 0;
  z-index: 999;
  width: 100vw;
  height: 90dvh;
  background-color: rgba(123, 185, 252, 0.2352941176);
  animation: slideOut 0.5s forwards;
}

#Header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
@media screen and (min-width: 715px) {
  #Header {
    padding: 5rem;
  }
}

#PersonLink {
  text-decoration: none;
  color: #4382C3;
  cursor: url("/pointer.png"), pointer;
}
#PersonLink .PersonLinkText {
  font-size: 1.3rem;
}
@media screen and (min-width: 715px) {
  #PersonLink .PersonLinkText {
    font-size: 1.5rem;
  }
}

#Footer {
  width: 100vw;
  background-color: #ffffff;
}
@media screen and (min-width: 715px) {
  #Footer {
    padding-inline: 25rem;
  }
}
#Footer .FooterTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
@media screen and (min-width: 715px) {
  #Footer .FooterTop {
    padding-inline: 12rem;
    padding-block: 2.5rem;
  }
}
#Footer .FooterTop .FooterTopWrapper {
  display: flex;
  flex-flow: column nowrap;
  text-align: end;
  gap: 1rem;
}
@media screen and (min-width: 715px) {
  #Footer .FooterTop .FooterTopWrapper {
    gap: 1.5rem;
  }
}
#Footer .FooterLine {
  border: #4382C3;
  height: 0.1rem;
  background: #bbbbbb;
  margin-inline: 3.5rem;
  border-radius: 1rem;
}
@media screen and (min-width: 715px) {
  #Footer .FooterLine {
    height: 0.2rem;
    margin-inline: 15rem;
    margin-block: 1.5rem;
  }
}
#Footer .FooterBottom {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
@media screen and (min-width: 715px) {
  #Footer .FooterBottom {
    margin-inline: 14rem;
    margin-block: 0.5rem;
  }
}

#Program .ProgramImage {
  width: 25rem;
  border-radius: 2rem;
}
#Program .ProgramTitle {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  font-size: 2.3rem;
  font-weight: 800;
}
#Program .ProgramTime {
  font-size: 1.8rem;
  font-weight: 500;
}

#FormWrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 3.5rem;
  width: 80%;
}
#FormWrapper .FormLabel {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.6rem;
  font-size: 1.5rem;
}
#FormWrapper .FormLabel .FormInput {
  padding: 1.2rem;
  border-radius: 1rem;
  border: 1px solid #bbbbbb;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
#FormWrapper .FormLabel .FormInput::placeholder {
  color: #bbbbbb;
}
#FormWrapper .FormLabel .FormInput:active {
  outline: 1px #4382C3 solid;
}
#FormWrapper .FormLabel .FormInput:focus {
  outline: 1px #7bb9fc solid;
}
#FormWrapper .FormLabel .FormMessage {
  padding: 1.2rem;
  height: 14rem;
  border-radius: 1rem;
  border: 1px solid #bbbbbb;
  font-family: "Inter", sans-serif;
  resize: none;
  overflow: hidden;
}
#FormWrapper .FormLabel .FormMessage::placeholder {
  color: #bbbbbb;
  font-family: "Inter", sans-serif;
}
#FormWrapper .FormLabel .FormMessage:active {
  outline: 1px #4382C3 solid;
}
#FormWrapper .FormLabel .FormMessage:focus {
  outline: 1px #7bb9fc solid;
}
#FormWrapper .FormLabel .FormButton {
  background-color: #4382C3;
  border: none;
  padding: 0.7rem;
  border-radius: 1rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.9rem;
  width: 35%;
}

#FormWrapper .FormLabel:last-child {
  margin-top: 1rem;
  align-items: end;
}

#Landing {
  width: 100vw;
  overflow: hidden;
}

#Radio {
  width: 100vw;
  margin-top: 13vh;
  overflow: hidden;
}
#Radio .Player {
  height: 65vh;
  margin-inline: -1rem;
}
#Radio .Player .PlayerIframe {
  border: none;
  width: 100%;
  height: 100%;
}
#Radio .Programs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8rem;
  margin-block: 10rem;
}

#Contact {
  width: 100vw;
  overflow: hidden;
}
#Contact .Form {
  height: 85vh;
  margin-top: 10vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}
#Contact .Form .FormTitle {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
#Contact .Map {
  height: 60vh;
  margin-bottom: 5rem;
}
#Contact .Map .MapIframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*# sourceMappingURL=styles.css.map */
