#Landing {
  width: 100vw;
  overflow: hidden;

  .Home {
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 4rem;
    position: relative;
    background-image: url('/home/mobile.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;

    @include responsive(lg) {
      background-image: url('/home/desktop.png');
      align-items: start;
      padding-block: 10rem;
      padding-inline: 15rem;
    }

    .HomeTexts {
      margin-top: 6rem;
      text-align: center;

      .HomeText {
        margin-block: 0.3rem;
        font-size: 3rem;

        @include responsive(lg) {
          font-size: 4rem;
        }
      }
    }

    .HomeLinks {
      display: flex;
      align-items: center;
      gap: 2rem;

      @include responsive(lg) {
        margin-left: 2rem;
        gap: 3rem;
      }

      .HomeSocial {
        text-decoration: none;
        color: $blue;
        font-size: 1.6rem;
        border: $blue 1px solid;
        padding-inline: 1.4em;
        padding-block: 0.7rem;
        border-radius: 1.2rem;
        font-weight: 500;
        cursor: $pointer, pointer;
      }

      .HomeLive {
        text-decoration: none;
        border: $blue 1px solid;
        color: $white;
        font-weight: 500;
        font-size: 1.6rem;
        background-color: $blue;
        padding-inline: 1.4rem;
        padding-block: 0.7rem;
        border-radius: 1.2rem;
        cursor: $pointer, pointer;
      }
    }

    .HomeSocials {
      display: flex;
      gap: 2.5rem;

      @include responsive(lg) {
        margin-left: 2rem;
        gap: 3.3rem;
      }

      .HomeSocialIG,
      .HomeSocialFB,
      .HomeSocialYT,
      .HomeSocialTW {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 3.5rem;
        height: 3.5rem;
        cursor: $pointer, pointer;

        @include responsive(lg) {
          width: 4rem;
          height: 4rem;
        }
      }

      .HomeSocialIG {
        background-image: url('/icons/instagram.png');
      }

      .HomeSocialFB {
        background-image: url('/icons/facebook.png');
      }

      .HomeSocialYT {
        background-image: url('/icons/youtube.png');
      }

      .HomeSocialTW {
        background-image: url('/icons/twitch.png');
      }
    }
  }

  .History {
    background-color: $background;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .HistoryTitle {
      font-size: 2.8rem;
      color: $blue;
      font-weight: 600;
      margin-block: 4rem;

      @include responsive(lg) {
        font-size: 3.2rem;
        margin-top: 8rem;
      }
    }

    .HistoryText {
      margin-block: 2rem;
      margin-inline: 4rem;
      font-size: 1.5rem;

      @include responsive(lg) {
        font-size: 1.8rem;
        width: 35%;
      }
    }

    .HistoryImage {
      border-radius: 2rem;
      margin-bottom: 4rem;
      width: 80%;

      @include responsive(lg) {
        width: 35%;
        margin-bottom: 8rem;
      }
    }
  }

  .Library {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;

    .LibraryTitle {
      font-size: 2.6rem;
      color: $blue;
      font-weight: 600;

      @include responsive(lg) {
        font-size: 3.2rem;
        margin-top: 1.5rem;
      }
    }

    .LibraryText {
      margin: 4rem;
      font-size: 1.5rem;

      @include responsive(lg) {
        font-size: 1.8rem;
        width: 35%;
      }
    }

    .LibraryImage {
      border-radius: 2rem;
      margin-top: 3rem;
      width: 70%;

      @include responsive(lg) {
        width: 35%;
        margin-bottom: 4rem;
      }
    }

    img:last-child {
      width: 85%;

      @include responsive(lg) {
        width: 40%;
        margin-bottom: 4rem;
      }
    }
  }

  .Ceramic {
    background-color: $background;
    padding-top: 8rem;
    padding-bottom: 4rem;

    @include responsive(lg) {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 5rem;
    }

    .CeramicWrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @include responsive(lg) {
        justify-content: center;
        gap: 15rem;
      }

      .CeramicTitle {
        font-size: 2.4rem;
        color: $blue;
        font-weight: 600;

        @include responsive(lg) {
          font-size: 3.2rem;
        }
      }

      .CeramicImage {
        width: 10rem;
        border-radius: 2.5rem;

        @include responsive(lg) {
          width: 16rem;
        }
      }
    }

    .CeramicText {
      margin: 4rem;
      font-size: 1.5rem;

      @include responsive(lg) {
        margin: 2rem;
        font-size: 1.8rem;
        width: 35%;
      }
    }
  }

  .Radio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .RadioTitle {
      font-size: 2.8rem;
      color: $blue;
      font-weight: 600;
      margin-top: 4rem;
      margin-bottom: 2rem;

      @include responsive(lg) {
        font-size: 3.2rem;
        margin-top: 8rem;
      }
    }

    .RadioText {
      margin-block: 2rem;
      margin-inline: 4rem;
      font-size: 1.5rem;

      @include responsive(lg) {
        font-size: 1.8rem;
        width: 35%;
      }
    }

    .RadioImage {
      border-radius: 2rem;
      margin-bottom: 4rem;
      width: 80%;

      @include responsive(lg) {
        width: 35%;
        margin-bottom: 8rem;
      }
    }
  }
}
