#Radio {
  width: 100vw;
  margin-top: 10vh;
  overflow: hidden;

  .Player {
    height: 65vh;
    margin-inline: -1rem;
    
    .PlayerIframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  .Programs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8rem;
    margin-block: 10rem;

    .ProgramsTitle {
      font-size: 2.7rem;
      text-decoration: underline;
      color: $blue;
      font-weight: 600;
      margin-bottom: -3rem;
    }
  }
}
